<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewData["Title"] - Advance Translados</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WEBViajes.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="d-flex flex-column min-vh-100">
        <!-- Sidebar -->
        <nav class="sidebar bg-primary text-white vh-100 p-3 collapse" id="sidebar">
            <div class="sidebar-header">
                <a class="navbar-brand text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Advance Translados</a>
            </div>
            <ul class="nav flex-column mt-4">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Viajes" asp-action="Index">Viajes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Choferes" asp-action="Index">Choferes</a>
                </li>
            </ul>
        </nav>

        <!-- Contenido principal -->
        <div class="content flex-grow-1 position-relative">
            <button class="btn btn-primary toggle-btn" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="bi bi-house-door-fill"></span>
            </button>
            <main role="main" class="py-4 flex-grow-1">
                @RenderBody()
            </main>

            <footer class="border-top footer text-muted bg-light py-2">
                <div class="container-fluid px-3">
                    © 2025 - WEBViajes - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>